/*If you want to change the image of the colour in the svg then you can use the fill property write as - fill="red" you need to write in the right side of the img with one space init*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stick+No+Bills:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("./Images/bg.jpg");
    height: 87vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}
.main .box{
    background-color: black;
    opacity: 0.69;
    height: 87vh;
    width: 100%;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 76vw;
    margin: auto; /*for centering the nav bar */
    align-items: center;
    padding: 23px 20px;
}
.item-1 img{
    position: relative;
    z-index: 1;
}
nav .btn-1{
    background-color: transparent;
    border: 0.1px solid rgb(111, 110, 110);
}
nav .btn-1:hover{
    outline: 2px solid white;
}
nav .btn-2:hover{
    background-color: rgb(188, 7, 7);
    border: 1px solid rgb(188, 7, 7);
}
nav button{
    position: relative;
    z-index: 1;
    background-color: rgb(221, 4, 4);
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid rgb(221, 4, 4);
    margin: 0px 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    cursor: pointer;
}
nav .item-2{
    display: flex;
}
.block1-content{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92%;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: normal;
    line-height: normal;
}
.block1-content .content-1{
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-weight: 490;
    margin-bottom: 3px;
}
.block1-content .content-2{
    font-size: 45px;
    font-weight: 800;
    margin-top: -5px;
    color: rgb(255, 255, 255);
}
.block1-content .content-3{
    font-size: 23px;
    font-weight: 490;
    margin-top: 12px;
}
.block1-content button{
    background-color: rgb(221, 4, 4);
    color: white;
    padding: 11px 11.5px 11px 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    border: 1px solid rgb(221, 4, 4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    cursor: pointer;
}
.block1-content button:hover{
    background-color: rgb(188, 7, 7);
    border: 1px solid rgb(188, 7, 7);
}
.btn-1{
    display: flex;
    gap: 8px;
}
.item-2 .btn-1 .downarrow{
    margin-top: 6px;
}
.separate-line{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.second-main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 57px 150px 69px 150px;
    /* z-index: 0; */
}
.second-main .box-a{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    margin-top: -35px;
    margin-left: -30px;
}
.second-main .box-b{
    position: relative;
}
.second-main .box-b img{
    position: relative;
    z-index: 2;
}
.second-main .box-b video {
    position: absolute;
    left: 83.4px;
    width: 64%;
    top: 89.5px;
    z-index: 1;
    pointer-events: none;
}
.second-main .box-b{
    margin-right: -94px;
}
.second-main .box-b img{
    margin-left: 7.6px;
}
.box-a{
    margin-left: 3px;
}
.box-a .second-main-content-1{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 790;
}
.box-a .second-main-content-2 , .box-a .second-main-content-3{
    font-size: 23px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.box-a .second-main-content-2{
    margin-top: 15px;
}
.box-a .second-main-content-3{
    margin-top: 3px;
}
.separate-line-2{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.third-main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 65px 140px;
}
.third-main-content .box-d{
    display: flex;
    flex-direction: column;
    margin-left: -80px;
}
.third-main-content-1{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 790;
}
.third-main-content-2{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 790;
    margin-top: -3px;
}
.third-main-content-3{
    font-size: 23px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-top: 10px;
}
.third-main-content-4{
    font-size: 23px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-top: -1px;

}
.separate-line-3{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.fourth-main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    gap: 10px;
    padding: 60px 37px 0px 100px;
    position: relative;
    
}
.fourth-main-content .box-e{
    display: flex;
    flex-direction: column;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        margin-bottom: 65px;
    margin-left: 48px;
    /* margin-bottom: 35px;
    margin-left: 20px; */
}
.fourth-main-content-1{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 795;
}
.fourth-main-content-2{
    font-size: 23px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-top: 10px;
}
.fourth-main-content-3{
    font-size: 23px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.box-f{
    margin-right: 40px;
    height: 66vh;
    position: relative;
}
.box-f img{
    z-index: 2;
    position: relative; /*position: relative - it remains in the normal document flow, meaning it takes up space as it normally would.
    The element can be moved from its normal position using the top, right, bottom, and left properties. However, the space it originally occupied in the document flow is still reserved for it.
    This property also establishes a new positioning context for its child elements that are positioned absolute, fixed, or sticky.*/
    
}
.box-f video{
    position: absolute;
    left: 108.3px;
    width: 55.19%;
    height: 27vh;
    top: 35.5px;
    padding: 14px 0px 14px 0px;
    z-index: 1;
    pointer-events: none;
}
.separate-line-4{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.fifth-main-content{
    height: 76vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-h{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}
.box-g img{
    margin-left: 80px;
}
.box-h{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-top: -25px;
}
.fifth-main-content-1{
    font-size: 48px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 795;
}
.fifth-main-content-2 , .fifth-main-content-3 , .fifth-main-content-4{
    font-size: 23px;
}
.fifth-main-content-2{
    margin-top: 15px;
}
.separate-line-5{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.sixth-main-content{
    height: 112.5vh;
    background-color: black;
}
.box-i{
    font-size: 46px;
    font-weight: 795;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
    text-align: center;
    padding: 55px;
}
.faq div{
    height: 11vh;
    max-width: 77vw;
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    margin: 8px auto 0px auto;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 1px;
}
.faq div:hover{
    background-color: rgb(78, 77, 77);
    transition: 0.2s ease;
    cursor: pointer;
}
.faq{
    margin-top: -40px;
    text-align: left;
}
.button-content-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
}
.button-content-6 button{
    /* margin-top: 30px; */
    padding: 10px 15px 10px 25px;
    border-radius: 4px;
    background-color: rgb(221, 4, 4);
    border: 1px solid rgb(221, 4, 4);
    margin: 0px 10px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-content-6 button:hover{
    background-color: rgb(188, 7, 7);
    border: 1px solid rgb(188, 7, 7);
}
.separate-line-6{
    height: 7px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.faq > div > span{
    color:white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 530px;
    display: flex;
    justify-content: space-between;
    /* margin: 27px 20px; */
    width: 100%; /*for taking the span full width*/
    margin: 0px 20px;
}
.last-content1{
    background-color: black;
    height: 51vh;
}
.last-content2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    padding: 65px 245px 65px 168px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}
.last-content1 .column{
    color: rgba(255, 255, 255, 0.7);
}
.last-content-row-1{
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    gap: 5px;
    padding: 62px 0px 0px 166px;
    margin-bottom: -47px;
}
.last-content-row-1 .last-row-1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
li{
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
}
.last-content2 .column-1 li , .column-2 li , .column-3 li , .column-4 li{
    font-size: 13.5px;
    /* padding: 74px 166.5px; */
    margin: 7px 0px 14px 0px;
}
.last-content2-btn{
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px 4px 12px;
    gap: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    border: 1px solid rgb(109, 109, 109) ;
    margin-top: 25px;
}
.Netflix-india{
    margin-top: 20px;
    font-size: 13.2px;
}
.last-content2-btn:focus{
    outline: 1px solid white;
}
.column-2 li{
    margin-left: 20px;
}
.column-3{
    margin-left: 48px;
}
.column-4{
    margin-left: 56px;
}






